
@{
    ViewData["Title"] = "Cart";
}

<h2 style="text-align:center">Your Cart: $@{@ViewBag.TotalCost}</h2>
<a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="CheckOut" ><button type="button" class="btn btn-danger">CheckOut</button></a>

<div class="row display: flex justify-content-center">
    @foreach (P1.DetailedProductInventory item in Model)
    {
        <div class="card text-center border-dark mb-3" style="width: 18rem;">
            <img class="card-img-top" src="@Url.Content(item.Product.ImgPath)" alt=@Html.DisplayFor(modelItem => item.Product.ProductName)>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Product.ProductName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Product.ProductDescription)</p>
                <p> Price: @Html.DisplayFor(modelItem => item.Product.Price)</p>
                <form asp-controller="Cart" asp-action="UpdateCart">
                    <div class="form-group">
                        <p>Quantity: @item.Inventory</p>
                        <label for="productAmount">Remove Amount: </label>
                        <input type="number" value="0" class="form-range" min="0" max="@item.Inventory" step="1" id="productAmount" name="amount" required />
                        <input type="hidden" name="productID" value="@item.Product.ProductId" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Update Cart" />
                </form>

            </div>
        </div>
        <p>&nbsp;&nbsp;&nbsp;</p>

    }
</div>